.divisor_wraper {
    width: 100%;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;


    .divisor {
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        opacity: 0.32;
    }

    .divisor_text {
        color: var(--color-white);
        font-weight: 700;
        z-index: 2;
        position: absolute;
        padding-left: 17px;
        padding-right: 17px;
        font-size: 1.25rem;
        background-color: var(--color-gray-700);
    }
}