.main {
    min-height: 100vh;
    background-color: var(--color-gray-700);
    padding-left: 21px;
    padding-right: 21px;
    max-width: 1093px;
    margin: 0 auto;

    .search_section {
        margin-top: 50px;

        form {
            margin-bottom: 25px;
        }
    }

    .files_wraper {
        margin-top: 27px;
        width: 100%;

        .files_list {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 100%;
        }

    }
}