@import '../../../styles/Global.scss';

.input_wrapper {


    textarea {
        width: 100%;
        padding: 17px;
        border-radius: 5px;
        border-width: 1px;
        border-color: rgba($color: $color-gray-700, $alpha: 0.32);
        border-style: solid;
        background-color: var(--color-white);
        width: 100%;
        font-size: 0.875rem;
        color: var(--color-gray-700);
        resize: none;

        &::placeholder {
            font-weight: 500;
            color: var(--color-gray-700);
            opacity: 0.32;
        }
    }
}