.input_wrapper {
    input {
        width: 100%;
        color: var(--color-white);
        font-size: 1rem;
        height: 44px;
        background-color: transparent;
        outline: none;
        padding-left: 20px;
        border-bottom-width: 1px;
        border: 1px solid var(--color-white);
        font-weight: 700;
        border-radius: 5px;

        &:focus {
            border-color: var(--color-blue-400);
        }

        &::placeholder {
            font-weight: 500;
            color: var(--color-white);
        }
    }
}